/* footer */

footer {
    position: absolute;
    margin-top: 100px;
    bottom: 0;
    width: 100%;
    background-color: red;
}

footer ul {
    display: flex;
    font-family: 'Merriweather', serif;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    display: inline-block;
    padding: 1em;
    color: black;
}