#page_login .container {
    margin-top: 120px;
}

#page_login form p {
    padding-top: 1em;
    font-size: 0.9rem;
}

#page_login form input.button:hover {
    background-color: white;
    color: #FF5100;
}

#page_login footer ul li a{
    color: white;
}

#page_login nav ul li a {
    color: white;
}



