
.headerbalk {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

/* logo */
.navbarlogo svg {
    width: 250px;
    margin-left: 2em;
}

.st0{enable-background:new;}
.cls-2{fill:#FF5100;}
.cls-3{fill:#1D1D1B;}
#page_login .cls-3{fill:white;}

/* navigatie  */


nav ul {
    display: flex;
}

nav li {
    list-style: none;
    padding: 0 2em; /* padding bij li voor hover border */
    display: inline-block;
}


nav a.hover_line {
    display: inline-block;
    color: #1D1D1D;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    line-height: 40px;
    font-size: 1rem;
}

nav a.hover_line::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #FF5100;
    transition: width .3s;
}

nav a.hover_line:hover::after {
    width: 100%;
}







