
/* GRID
-------------------------------------------------------------- */
#page_profile .grid_artistpage {
    display: grid;
    grid-template-rows: 220px 45px 20px 40px;
    grid-template-columns: 4fr 1fr 2fr 1fr 4fr;
    row-gap: 1em;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

/* ELEMENT 1: profile picture */
#page_profile .grid_artistpage .profile_picture {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}

/* ELEMENT 2: name and caption */
#page_profile .grid_artistpage .profile_name {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
}

#page_profile .grid_artistpage div p.name {
    font-size: 1.4rem;
    margin-bottom: 0.2em;
}

/* ELEMENT 3: read more */
#page_profile .grid_artistpage .profile_readmore {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}

#page_profile a.readmore {
    padding: 10px;
    color: #FF5100;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    text-decoration: underline;
}

#page_profile .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
#page_profile .overlay:target {
    visibility: visible;
    opacity: 1;
}

#page_profile .popup {
    margin: 10% auto;
    padding: 20px;
    background: white;
    width: 70%;
    height:60%;
    position: relative;
    transition: all 5s ease-in-out;
}
#page_profile .popup .rondeimage {
    margin: 0;
    padding: 0;
}

#page_profile .popup .rondeimage img{
    width: 120px;
    height: 120px;
    margin: 40px 0 0 40px;
}

#page_profile .popup .popup_text {
    text-align: left;
    margin-left: 350px;
    margin-top: 130px;
    width: 450px;
    line-height: 1.4 !important;
}

#page_profile .popup .popup_text h3 {
    font-weight: 600;
    margin-right: 2em;
    display: inline-block;
}

#page_profile .popup .popup_text p {
    width: 300px;
}

#page_profile .popup .education {
    margin-bottom: 3em;
    display: flex;
    justify-content: flex-end;
}
#page_profile .popup .about {
    display: flex;
    justify-content: flex-end;

}

#page_profile .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 4rem;
    font-weight: bold;
    text-decoration: none;
    color: #FF5110
}
#page_profile .popup .close:hover {
    color: black;
}











/* ELEMENT 4: social */
#page_profile .grid_artistpage .profile_social {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
}

#page_profile .grid_artistpage .profile_social a{
    color: black;
    margin: 5px;
    font-size: 1.4rem;
}

#page_profile .grid_artistpage .profile_social a:hover {
    color: #FF5100;
}

/* add graphic */

#page_profile section div.add_graphic_here {
    height: 500px;
    margin-bottom: 1em;
    background-color: #FF5100;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page_profile section div.add_graphic_here span {
    color: white;
}


