<!--template voor de body van add_graphic.php -->
<form class="addgraphicform" action="lib/add_graphic.php" method="post" enctype="multipart/form-data">

    <input type="hidden" id="formname" name="formname" value="addgraphicform">
    <input type="hidden" id="tablename" name="tablename" value="graphic">
    <input type="hidden" id="pkey" name="pkey" value="gra_id">

    <div class="col-grid-12">

        <figure class="img-container">
            <img src="#" alt=" ">
            <figcaption>
                <label for="profielfoto">Upload new image</label>
                <input id="profielfoto" type="file" name="use_img" value="@@use_img@@">
            </figcaption>
        </figure>
        <ul>
            <li class="grid">
                <textarea class = "medium" name="gra_description" value="@@gra_description@@" placeholder="description (Max 200 char)" title="graphic description" maxlength="200"></textarea>
            </li>
            <li class="grid">
                <textarea class = "short tags" name="gra_tags" value="@@gra_tags@@" placeholder="#tags (seperated by a comma)" title="graphic description"></textarea>
            </li>
            <li>
                <input type="checkbox" value="1" name="material[]">Pencil
                <input type="checkbox" value="2" name="material[]">Ink
                <input type="checkbox" value="3" name="material[]">Acrylics
                <input type="checkbox" value="4" name="material[]">Oil
                <input type="checkbox" value="5" name="material[]">Watercolor
                <input type="checkbox" value="6" name="material[]">Spraypaint
                <input type="checkbox" value="7" name="material[]">Photograph
                <input type="checkbox" value="8" name="material[]">Adobe
                <input type="checkbox" value="9" name="material[]">Gimp
                <input type="checkbox" value="10" name="material[]">Inkscape
                <input type="checkbox" value="11" name="material[]">Corel
                <input type="checkbox" value="12" name="material[]">Blender
                <input type="checkbox" value="13" name="material[]">Offset print
                <input type="checkbox" value="14" name="material[]">Digital print
                <input type="checkbox" value="15" name="material[]">Etch
                <input type="checkbox" value="16" name="material[]">Risograph
                <input type="checkbox" value="17" name="material[]">Silkscreen
            </li>
        </ul>
    </div> <!--col-grid-12 -->

    <input class="button submit" name="submitbutton" type="submit" value="Spread!">


</form>

