<!--template voor de body van add_graphic.php -->
<form class="addgraphicform" action="lib/add_graphic.php" method="post" enctype="multipart/form-data">

    <input type="hidden" id="formname" name="formname" value="addgraphicform">
    <input type="hidden" id="tablename" name="tablename" value="graphic">
    <input type="hidden" id="pkey" name="pkey" value="gra_id">

    <div class="col-grid-12">

        <figure class="img-container">
            <img id="picturepreview" alt=" ">
            <figcaption>
                <label for="profielfoto">Upload new image</label>
                <input id="profielfoto" type="file" name="use_img" value="@@use_img@@" onchange="preview_image(event)">
            </figcaption>
        </figure>
        <ul>
            <li class="grid">
                <textarea class = "medium" name="gra_description" value="@@gra_description@@" placeholder="description (Max 200 char)" title="graphic description" maxlength="200"></textarea>
            </li>
            <li class="grid">
                <textarea class = "short tags" name="gra_tags" value="@@gra_tags@@" placeholder="#tags (seperated by a comma)" title="graphic description"></textarea>
            </li>
        </ul>
        <div class="checkbox_container">
            <ul class="ks-cboxtags">
                <li><input type="checkbox" id="checkboxOne" value="1" name="material[]"><label for="checkboxOne"><span class="fas fa-plus fa-fw"></span>Pencil</label></li>
                <li><input type="checkbox" id="checkboxTwo" value="2" name="material[]"><label for="checkboxTwo"><span class="fas fa-plus fa-fw"></span>Ink</label></li>
                <li><input type="checkbox" id="checkboxThree" value="3" name="material[]"><label for="checkboxThree"><span class="fas fa-plus fa-fw"></span>Acrylics</label></li>
                <li><input type="checkbox" id="checkboxFour" value="4" name="material[]"><label for="checkboxFour"><span class="fas fa-plus fa-fw"></span>Oil</label></li>
                <li><input type="checkbox" id="checkboxFive" value="5" name="material[]"><label for="checkboxFive"><span class="fas fa-plus fa-fw"></span>Watercolor</label></li>
                <li><input type="checkbox" id="checkboxSix" value="6" name="material[]"><label for="checkboxSix"><span class="fas fa-plus fa-fw"></span>Spraypaint</label></li>
                <li><input type="checkbox" id="checkboxSeven" value="7" name="material[]"><label for="checkboxSeven"><span class="fas fa-plus fa-fw"></span>Photograph</label></li>
                <li><input type="checkbox" id="checkboxEight" value="8" name="material[]"><label for="checkboxEight"><span class="fas fa-plus fa-fw"></span>PhotographAdobe</label></li>
                <li><input type="checkbox" id="checkboxNine" value="9" name="material[]"><label for="checkboxNine"><span class="fas fa-plus fa-fw"></span>Gimp</label></li>
                <li><input type="checkbox" id="checkboxTen" value="10" name="material[]"><label for="checkboxTen"><span class="fas fa-plus fa-fw"></span>Inkscape</label></li>
                <li><input type="checkbox" id="checkboxEleven" value="11" name="material[]"><label for="checkboxEleven"><span class="fas fa-plus fa-fw"></span>Corel</label></li>
                <li><input type="checkbox" id="checkboxTwelve" value="12" name="material[]"><label for="checkboxTwelve"><span class="fas fa-plus fa-fw"></span>Blender</label></li>
                <li><input type="checkbox" id="checkboxThirteen" value="13" name="material[]"><label for="checkboxThirteen"><span class="fas fa-plus fa-fw"></span>Offset print</label></li>
                <li><input type="checkbox" id="checkboxFourteen" value="14" name="material[]"><label for="checkboxFourteen"><span class="fas fa-plus fa-fw"></span>Digital print</label></li>
                <li><input type="checkbox" id="checkboxFifteen" value="15" name="material[]"><label for="checkboxFifteen"><span class="fas fa-plus fa-fw"></span>Etch</label></li>
                <li><input type="checkbox" id="checkboxSixteen" value="16" name="material[]"><label for="checkboxSixteen"><span class="fas fa-plus fa-fw"></span>Risograph</label></li>
                <li><input type="checkbox" id="checkboxSeventeen" value="17" name="material[]"><label for="checkboxSeventeen"><span class="fas fa-plus fa-fw"></span>Silkscreen</label></li>
            </ul>
        </div>


    </div> <!--col-grid-12 -->

    <input class="button submit" name="submitbutton" type="submit" value="Spread!">


</form>

