


<!-- afbeelding + overlay-->
<div class="image_overlay_box">
    <img src="img/graphic2.jpg" alt="graphic poster" class="image_graphic">
        <div class="overlay">
            <div class="overlay_hover_box">
                <div class="rondeimage artist_image_overlay">
                    <a href="profile.php">
                        <img src="img/graphic2.jpg" alt="person">
                        <p>Jow Swagger</p>
                    </a>
                </div>
                <a href="#" class="like_graphic">
                    <span class="icon-unliked far fa-heart"></span>
                    <span class="icon-liked fas fa-heart"></span>
                </a>
            <div class="clickbaar_vlak">
                <a href="#popup_graphicdetail"></a>
            </div>
            </div>
        </div>
</div>

<!-- pop-up graphic detail -->
<div id="popup_graphicdetail" class="overlay_graphicdetail">
    <div class="popup_graphicdetail">

        <section class="grid">
            <div><img  src="img/graphic5.jpg" alt="#"></div>
            <div class="graphicdetail">
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master.</p>
                <p><span>Materials/techniques:</span> Adobe, Offset print, Photograph</p>
                <p><span>Posted:</span> August 25, 2018</p>
                <p class="tags">#screen printing #oldschool #backintime #ufo #1969 #blackyellowred #earth #science #spacetravel #dark</p>
                <a href="#" class="like_graphic_popup">
                    <span class="icon-unliked far fa-heart"></span>
                    <span class="icon-liked fas fa-heart"></span>
                    I like this!
                </a>
            </div>

            <div class="artisttext">
                <div class="rondeimage">
                    <a href="profile.php"><img src="img/graphic4.jpg" alt="person"></a>
                </div>
                <ul>
                    <li>John Smit</li>
                    <li>Young graphic designer from New York</li>
                </ul>
            </div>
        </section>

        <a class="close" href="#">&times;</a>
    </div>
</div>









<!-- afbeelding + overlay
<div class="image_overlay_box">
    <img src="@@gra_image@@" alt="graphic poster" class="image_graphic">
    <a href="https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade">
        <div class="overlay">
            <div class="overlay_hover_box">
                <div class="rondeimage artist_image_overlay">
                    <img src="@@use_picture@@" alt="person">
                    <p>@@use_firstname@@ @@use_name@@</p>
                </div>
                <svg class="like_off" version="1.1" id="Laag_1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px" viewBox="0 0 422.23 360.37" style="enable-background:new 0 0 422.23 360.37;" xml:space="preserve"><style type="text/css">.st0{fill:#4FAE32;}</style><path class="st0" d="M422.23,108.52c0,27.85-10.57,55.7-31.7,76.83L218.62,357.26c-4.15,4.15-10.88,4.15-15.03,0L31.69,185.35c-42.25-42.26-42.25-111.4,0-153.66C52.82,10.56,80.67,0,108.52,0c27.85,0,55.71,10.56,76.83,31.69l25.76,25.76l24.85-24.86C277.89-9.34,346-10.99,388.83,30.02C411.09,51.34,422.23,79.93,422.23,108.52z"/></svg>
            </div>
        </div>
    </a>
</div> -->






