


<!-- afbeelding + overlay-->
<div class="image_overlay_box">
    <img src="wdev_wannes/spreadgraphic/graphics/@@gra_picture@@" alt="graphic poster" class="image_graphic">
        <div class="overlay">
            <div class="overlay_hover_box">
                <div class="rondeimage artist_image_overlay">
                    <a href="profile.php">
                        <img src="img/graphic2.jpg" alt="person">
                        <p>@@use_firstname@@</p>
                    </a>
                </div>
                <a href="#" class="like_graphic">
                    <span class="icon-unliked far fa-heart"></span>
                    <span class="icon-liked fas fa-heart"></span>
                </a>
            <div class="clickbaar_vlak">
                <a href="#popup_graphicdetail"></a>
            </div>
            </div>
        </div>
</div>

<!-- pop-up graphic detail -->
<div id="popup_graphicdetail" class="overlay_graphicdetail">
    <div class="popup_graphicdetail">

        <section class="grid">
            <div><img  src="img/graphic5.jpg" alt="#"></div>
            <div class="graphicdetail">
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master.</p>
                <p><span>Materials/techniques:</span> Adobe, Offset print, Photograph</p>
                <p><span>Posted:</span> August 25, 2018</p>
                <p class="tags">#screen printing #oldschool #backintime #ufo #1969 #blackyellowred #earth #science #spacetravel #dark</p>
                <a href="#" class="like_graphic_popup">
                    <span class="icon-unliked far fa-heart"></span>
                    <span class="icon-liked fas fa-heart"></span>
                    I like this!
                </a>
            </div>

            <div class="artisttext">
                <div class="rondeimage">
                    <a href="profile.php"><img src="img/graphic4.jpg" alt="person"></a>
                </div>
                <ul>
                    <li>John Smit</li>
                    <li>Young graphic designer from New York</li>
                </ul>
            </div>
        </section>

        <a class="close" href="#">&times;</a>
    </div>
</div>