<form class="loginform" id=login_form method="post" action="lib/login.php">

    <!-- commentaar -->
    <input type="hidden" id="formname" name="formname" value="loginform">

    <ul>
        <li class="col-grid-12">
            <input type="email" class="form-control" id="use_email" name="use_email" value="" placeholder="email">
        </li>
        <li class="col-grid-12">
            <input type="password" class="form-control" id="use_paswd" name="use_paswd" value="" placeholder="password">
        </li>
    </ul>

    <input class="button" name="loginbutton" type="submit" value="Log in">

    <p class="center-text"><a href="register.php">register here</a></p>

    </div>

</form>


