<h1>Privacy policy</h1>
<div class="grid_privacy">
    <div>
        <a href="#summary">Summary of changes</a>
        <a href="#transferring">Transferring your information</a>
        <a href="#california">California residents</a>
        <a href="#copyright">Copyrigh</a>

    </div>
    <div>
        <h2 id="summary">Summary of changes</h2>
        <p>We no longer collect payment information to purchase items. Instead, you simply go directly to a retailer’s website to make a purchase. Read more about it in the Help Center.</p>
        <p>We love that young people are finding inspiration on Spreadgraphic! But we’re no longer allowing people to get verifiable parental consent to create new accounts. Starting now, you’ll have to follow the age of digital consent guidelines set in your country.</p>
        <p>We added more details about data we collect and how it's used, along with a new way to control whether it is used to personalize advertising on other sites or apps you might visit.</p>
        <p>We added additional information for our California residents.</p>

        <h2 id="transferring">Transferring your information</h2>
        <p>Spreadgraphic is a worldwide service. By using our products or services, you authorize us to transfer and store your information outside your home country, including in the United States, for the purposes described in this policy. The privacy protections and the rights of authorities to access your personal information in such countries may not be equivalent to those of your home country.</p>
        <p>See the section for EEA Residents See the section for EEA Residents to learn more about data transfers to and from that region.See the section for EEA Residents to learn more about data transfers to and from that region.See the section for EEA Residents to learn more about data transfers to and from that region. to learn more about data transfers to and from that region. </p>

        <h2 id="california">California residents</h2>
        <p>California law requires us to disclose categories of personal information we collect and how we use it, the categories of sources from whom we collect personal information, and the third parties with whom we share it, which we have explained above. We are also required to communicate information about rights you have under California law—for information about these rights, please see “Your Options” above. In addition, we are required to provide you certain information about the business and commercial purposes for which we collect and share your personal information.</p>
        <p>We use and disclose the information we collect for the business purposes described in this policy, including to: audit our service, detect security incidents and prevent fraud, debug and repair errors, maintain your account, provide customer service, process or fulfill orders, conduct research and development and other activities to improve our service, show advertising, market our services, and understand how users interact with our services.</p>
        <p>In the preceding 12 months, we have also disclosed the following categories of personal information for one or more business purposes: identifiers, characteristics protected by law, commercial information, internet or electronic network activity information, location data, education and employment information, and inferences we draw or derive about users. </p>
        <p>We use and disclose the information we collect for the following commercial purposes: enabling and affecting commercial transactions and advancing our commercial and economic interests (this is legal jargon that means we use and share your information to help us make money so we can provide you our Service).</p>

        <h2 id="copyright">Copyright</h2>
        <p>California law requires us to disclose categories of personal information we collect and how we use it, the categories of sources from whom we collect personal information, and the third parties with whom we share it, which we have explained above. We are also required to communicate information about rights you have under California law—for information about these rights, please see “Your Options” above. In addition, we are required to provide you certain information about the business and commercial purposes for which we collect and share your personal information.</p>
        <p>We use and disclose the information we collect for the business purposes described in this policy, including to:e information we collect for the business purposes described in this policy, including to:e information we collect for the business purposes described in this policy, including to: audit our service, detect security incidents and prevent fraud, debug and repair errors, maintain your account, provide customer service, process or fulfill orders, conduct research and development and other activities to improve our service, show advertising, market our services, and understand how users interact with our services.</p>
        <p>In the preceding 12 months, we have also disclosed the following categories of personal information for one or more business purposes: identifiers, characteristics protected by law, commercial information, internet or electronic network activity information, location data, education and employment information, and inferences we draw or derive about users. </p>

    </div>

</div>