<form class="loginform" id=register_form method="post" action="lib/register.php">

    <input type="hidden" id="formname" name="formname" value="registration_form">
    <input type="hidden" id="tablename" name="tablename" value="users">
    <input type="hidden" id="pkey" name="pkey" value="use_id">

    <ul>
        <li class="col-grid-12">
            <input type="text" class="form-control" id="use_name" name="use_name" value="" placeholder="name">
        </li>
        <li class="col-grid-12">
            <input type="text" class="form-control" id="use_firstname" name="use_firstname" value="" placeholder="first name">
        </li>
        <li class="col-grid-12">
            <input type="email" class="form-control" id="use_email" name="use_email" value="" placeholder="email">
        </li>
        <li class="col-grid-12">
            <input type="password" class="form-control" id="use_paswd" name="use_paswd" value="" placeholder="password">
        </li>
        <li class="col-grid-12">
            <p class="subtext">By continuing, you agree to Spreadgraphic’s Terms of Service, Privacy Policy and Cookie use.</p>
        </li>
    </ul>


    <input class="button" name="registerbutton" type="submit" value="Register">

    <p class="center-text"><a href="login.php">existing user</a></p>


    </div>

</form>