
<!-- gridsysteem per graphic-->
    <section class="grid">
        <div class="nummerkes">
            <p>Het aantal likes:</p>
            <p class="aantal_likes">@@aantal_likes@@</p>
        </div>
        <div><img  src="/wdev_wannes/spreadgraphic/graphics/@@gra_image@@" alt="graphic"></div>
        <div></div>
            <div class="graphicdetail"><p>@@gra_description@@</p></div>
        <div class="graphicdetail">
            <p><span>Materials/techniques:</span> Adobe, Offset print, Photograph</p>
            <p><span>Posted: </span>@@gra_uploaddate@@</p>
        </div>
        <div class="graphicdetail"><p class="tags">@@gra_tags@@</p></div>

        <div class="artisttext">
            <div class="artisttext">
                <div class="rondeimage">
                    <a href="profile.php?id=@@use_id@@">
                        <img src="/wdev_wannes/spreadgraphic/profile_img/@@use_picture@@?id=@@gra_use_id@@" alt="person">
                    </a>
                </div>
                <ul>
                    <li>@@use_firstname@@ @@use_name@@</li>
                    <li>@@use_caption@@</li>
                </ul>
            </div>
    </section>





