
<!-- gridsysteem per graphic-->
    <section class="grid">
        <div><p>1</p></div>
        <div><img  src="img/graphic5.jpg" alt="#"></div>
        <div></div>
        <div class="graphicdetail">
            <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master.</p>
            <p><span>Materials/techniques:</span> Adobe, Offset print, Photograph</p>
            <p><span>Posted:</span> August 25, 2018</p>
            <p class="tags">#screen printing #oldschool #backintime #ufo #1969 #blackyellowred #earth #science #spacetravel #dark</p>
        </div>

        <div class="artisttext">
            <div class="rondeimage">
                <a href="artistpage.php"><img src="img/graphic4.jpg" alt="person"></a>
            </div>
            <ul>
                <li>John Smit</li>
                <li>Young graphic designer from New York</li>
            </ul>
        </div>
    </section>

