
<!-- gridsysteem per graphic-->
    <section class="grid">
        <div><p>1</p></div>
        <div><img  src="/wdev_wannes/spreadgraphic/graphics/@@gra_image@@" alt="graphic"></div>
        <div></div>
        <div class="graphicdetail">
            <p>@@gra_description@@</p>
            <p><span>Materials/techniques:</span> Adobe, Offset print, Photograph</p>
            <p><span>Posted:</span>@@gra_uploaddate@@</p>
            <p class="tags">@@gra_tags@@</p>
        </div>

        <div class="artisttext">
            <div class="rondeimage">
                <a href="profile.php"><img src="img/graphic4.jpg" alt="person"></a>
            </div>
            <ul>
                <li>John Smit</li>
                <li>Young graphic designer from New York</li>
            </ul>
        </div>
    </section>

